*{
  padding: 0;
  margin: 0;
  box-sizing: 0;

}



#prueba{

flex-direction: column;
font-family: 'Iceland', cursive;
display: flex;
min-height:100vh;
justify-content: center;
align-items: center;
background: linear-gradient(200deg, #7e22b3,  #220a3d, #5709ff);
background-size:  300% 300%;
animation: BgGradient 5s ease infinite

}

@keyframes BgGradient {
0% {background-position: 0% 50%;}
50% {background-position: 100% 50%;}
100% {background-position: 0% 50%;}
}



#header{
display: flex;
justify-content: center;
align-items: center;
margin:2rem;
width: 100%;
height: 20%;
}

#header h1 {
font-size: 3rem;
color: #fff;
font-family: Iceland;
animation: neon2 1s ease-in-out infinite alternate;
text-align: center;
justify-content: center;
}

@keyframes neon2 {
from {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
    0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
}
to {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
    0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
}
}

label{
color: #fff;
font-size: 1.5rem;
margin: 0px;
font-family: Iceland;
animation: neon2 1s ease-in-out infinite alternate;
}
#mensajet{
margin-bottom: 1rem;
margin-top: 0;
}


#container{
display: flex;
justify-content: center;
align-items: center;
background: rgb(21,16,111);
width: 25%;
height: 70%;
margin: auto;

border:3px solid #3227cd  ;
border-radius: 20px;
}

#form{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 1rem;
margin-bottom: 1rem;
}

#texto{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;

}


#centro{

  width: 100%;
}

#numero{
display: flex;
justify-content:space-around;
margin-top: 1rem;
margin-bottom: 1rem;
align-items: center;
}





textarea{
resize: none;
width: 100%;
outline: none;
border:none;
text-align: justify;
overflow: none;
scroll-margin: none;
}

#textarea::-webkit-scrollbar{
  display: none;
}


#resultado{
  background: cornsilk;
}
#resultadoDescifrado{
  background: cyan;
}
input{

font-family: 'Iceland', cursive;
border:3px solid #3227cd  ;
}

input[type="number"]{
font-size: 25px;
width: 3rem;
padding: 5px;

}

#botones{
display: flex;
justify-content:space-evenly;



}


button{
background: none;
cursor: pointer;
justify-content: center;
font-family: 'Iceland', cursive;
font-size: 1rem;
border:3px solid #2920ac;
padding: 10px 10px;

}




#cifrar , #descifrar , #parrafo{

padding: 0.5rem 1rem;
color: #fff;
letter-spacing: 1px;
/* font-size: 1.5rem; */
transition: 0.2s;
}

#copiar{
padding: 0.5rem 1rem;
color: #fff;
letter-spacing: 1px;
/* font-size: 1.5rem; */
transition: 0.2s;
}

#limpiar{
padding: 0.5rem 1rem;
color: #fff;
letter-spacing: 1px;
/* font-size: 1.5rem; */
transition: 0.2s;
}


#cifrar:hover , #descifrar:hover , #copiar:hover , #limpiar:hover{
background: #42b9dd;
box-shadow:0 0 5px  #42b9dd,0 0 5px #42b9dd,0 0 5px #42b9dd;
transition-delay:0.1s ;
border: none;

}


#compartir{
display: flex;
justify-content: center;
margin: 1rem;
}

#limpiando{
display: flex;
justify-content: center;
margin: 0px;
}


#compartir button {
width: 70%;
}
#limpiando button{
width: 65%;
}


#footer{
display: flex;
width: 100vw;
align-items: center;
justify-content: space-between;
height: 10%;

}

#parrafo{
font-family: 'Iceland', cursive;font-size: 1rem;
justify-content: center;
letter-spacing: 2px;
font-size: 0.8rem;
}

#enlaces{
display: flex;
flex-direction: row;
justify-content:flex-end;


}


#footer #enlaces i{
margin: 1rem;
border-radius:30px;
width: 2rem;
height: 2rem;
font-size: 1.5rem;
cursor: pointer;
transition: all .4s;
}


.fa-share-alt{
color:rgb(3, 3, 3) ;
filter: drop-shadow(0px 0px 10px  rgb(0, 0, 0));
}

.fa-facebook-messenger{
color:rgb(25, 29, 245) ;
filter: drop-shadow(0px 0px 10px  rgb(25, 29, 245));
}
.fa-instagram{
color:rgb(199, 21, 223) ;
filter: drop-shadow(0px 0px 10px  rgb(199, 21, 223));
}
.fa-telegram-plane{
color:rgb(255, 255, 255) ;
filter: drop-shadow(0px 0px 10px  rgb(255, 255, 255));
}

.fa-whatsapp{
color:rgb(72, 221, 13) ;
filter: drop-shadow(0px 0px 10px  rgb(72, 221, 13));
}
.fa-twitter{
color:rgb(20, 208, 241) ;
filter: drop-shadow(0px 0px 10px  rgb(20, 208, 241));
}



.fa-heart{
color: red;
}

@media (max-width:1000px) {
#container{
  width: 35%;
}
}

@media (max-width:900px) {
#container{
  width: 40%;
}
}
@media (max-width:800px) {
  #container{
    width: 47%;
  }


  textarea{
    resize: none;
    height: 100%;
    width: 100%;

  }



}

  @media (max-width:600px) {

    #container{
      width: 50%;
      height: 100%;

    }

    #texto{
      width: 90%;
      margin: auto;
      justify-content: center;
            align-items: center;
    }


    #header h1 {
      font-size: 2rem;
      text-align: center;
      }

input[type="number"]{
font-size: 20px;
width: 2rem;
padding: 5px;
font-family: 'Iceland', cursive

}
#header{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  }

  #header h1 {

    animation: none
    }

  #prueba{

    animation: none
    }
    label{

      font-size: 1rem;

      }


            #footer{
              align-items: center;
              justify-content: center;
              display: grid;

            }

            #parrafo {
              display: flex;
            }

            #parrafo p{
              justify-content: center;
            }
            label{
              animation: none;
            }


            #cifrar:hover , #descifrar:hover , #copiar:hover , #limpiar:hover{
              box-shadow: none;
            }
  }



  @media (max-width:550px) {

    #container{
      width: 70%;
      height: 100%;


    }

#centro{


  margin-top: 2rem;
  margin-bottom: 4rem;

}


  }


  @media (max-width:400px) {

    #container{
      width: 90%;
      height: 100%;


    }}
